@model TemplateViewModel

<form method="post" class="active" name="@Model.Slug">
    <label asp-for="ImageUrl">Url1</label>
    <input asp-for="ImageUrl" type="text" /><br />
    <label asp-for="Description">Text</label>
    <input asp-for="Description" type="text" /><br />
</form>