@model TemplateViewModel

    <form method="post" class="active">
        <label asp-for="ImageUrl">Url1</label>
        <input asp-for="ImageUrl" type="text" /><br />
        <label asp-for="ImageUrl">Url2</label>
        <input asp-for="ImageUrl" type="text" /><br />
        <label asp-for="ImageUrl">Url3</label>
        <input asp-for="ImageUrl" type="text" /><br />
    </form>