@model TemplateViewModel

<form method="post" class="active" name="@Model.Slug">
    <input type="hidden" value="@Model.Slug" name="Slug" />
    <label>Url1</label>
    <input name="ImageUrl" /><br />
    <label>Url2</label>
    <input name="ImageUrl" /><br />
    <label>Url3</label>
    <input name="ImageUrl" /><br />
    <a class="remove_block" href="#">Remove</a>
</form>