@model TemplateViewModel

<form method="post" class="active" name="@Model.Slug">
    <input type="hidden" name="Slug" value="@Model.Slug" />
    <label>Main header</label><br />
    <input name="MainHeader" /><br />
    <label>Sub header</label><br />
    <input name="SubHeader" /><br />
    <a class="remove_block" href="#">Remove</a>
</form>

@*<div data-template-name="_TwoHeaders" data-partial-view="wrap">
        <input type="hidden" name="_TwoHeaders[]" data-partial-view="inp" value="_TwoHeaders"/>
        <label>Main header</label><br />
        <input name="MainHeader" /><br />
        <label>Sub header</label><br />
        <input name="SubHeader"/><br />
        <a class="remove_block" href="#">Remove</a>
    </div>*@