@model TemplateViewModel

<form method="post"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-complete="add">
    <select id="template" asp-for="Slug" name="List.Test">
        <option value="_TwoHeaders">Two headers</option>
        <option value="_ThreeImages">Three images</option>
        <option value="_ImageOnTheRight">Image on the right</option>
    </select>
    <input id="test" type="button" value="Choose template" onclick="loadTemplate()" />
</form>

<form method="post"
      data-ajax="true"
      onsubmit="collectObjects()"
      data-ajax-method="post"
      data-ajax-complete="add">
    <div id="UserContent" asp-validation-summary="All">
    </div>
    <input type="button" value="Add to db!" />
</form>