@model Tuple<List<Post>, List<List<TemplateViewModel>>>

@for (int i = 0; i < Model.Item2.Count; i++)
{
    foreach (var rec in Model.Item2[i])
    {
        <partial name="_@rec.Slug" model="@rec" />
    }
    <form method="post" asp-controller="Templates" asp-action="Remove" asp-route-postId="@Model.Item1[i].Id">
        <input type="submit" value="Delete" />
    </form>
    <hr>
}